/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light */
@font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-Lt.woff2") format("woff2"),
         url("/font/BerlingskeSerif-Lt.woff") format("woff"),
         url("/font/BerlingskeSerif-Lt.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-LtItalic.woff2") format("woff2"),
         url("/font/BerlingskeSerif-LtItalic.woff") format("woff"),
         url("/font/BerlingskeSerif-LtItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
  }
  
  /* Regular */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-Regular.woff2") format("woff2"),
         url("/font/BerlingskeSerif-Regular.woff") format("woff"),
         url("/font/BerlingskeSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-Italic.woff2") format("woff2"),
         url("/font/BerlingskeSerif-Italic.woff") format("woff"),
         url("/font/BerlingskeSerif-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-Md.woff2") format("woff2"),
         url("/font/BerlingskeSerif-Md.woff") format("woff"),
         url("/font/BerlingskeSerif-Md.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-MdItalic.woff2") format("woff2"),
         url("/font/BerlingskeSerif-MdItalic.woff") format("woff"),
         url("/font/BerlingskeSerif-MdItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
  }
  
  /* SemiBold */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-SemiBold.woff2") format("woff2"),
         url("/font/BerlingskeSerif-SemiBold.woff") format("woff"),
         url("/font/BerlingskeSerif-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  /* SemiBold Italic */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-SemBdIta.woff2") format("woff2"),
         url("/font/BerlingskeSerif-SemBdIta.woff") format("woff"),
         url("/font/BerlingskeSerif-SemBdIta.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
  }
  
  /* ExtraBold */
  @font-face {
    font-family: "Berlingske Serif";
    src: url("/font/BerlingskeSerif-ExtraBold.woff2") format("woff2"),
         url("/font/BerlingskeSerif-ExtraBold.woff") format("woff"),
         url("/font/BerlingskeSerif-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }





  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Book Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Demi.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Demi Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Neutraface Text";
    src: url("/font/neutraface-text/Neutraface Text Bold Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  




  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  

  /* Entire scrollbar */
::-webkit-scrollbar {
    width: 0px;
    height: 6px;
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  
  /* Thumb (scroll handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
  }
  
  /* Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  


  
  